@import "~bootstrap/dist/css/bootstrap.min.css";

#card.♠,
#card.♣ {
  color: black;
}

#card.♥,
#card.♦ {
  color: red;
}

.cuerpo {
  font-size: 110px;
}

#cardBottom {
  transform: rotate(180deg);
}

#number {
  font-size: 150px;
}
